.card {
  border: 3px solid #0a06f3;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(94, 4, 4);
  margin: 20px;
  width: 50%;
 margin-left: auto;
 margin-right: auto;
}

.card-img-top {
  height: 200px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}