.navbar {
    background-color: #000000;
    width: 100%;
    padding: 10px 0;
  }
  
  .navbar-brand {
    font-weight: bold;
    color: #ffffff;
  }
  
  .navbar-brand:hover {
    color: #ff0000;
  } 

  .nav-link {
    color: #ffffff;
    font-weight: bold;
    margin: 10px;
  }
  
  .nav-link:hover {
    color: #ff0000;
  }