.navbar {
  padding: 10px;
  background-color: rgb(184, 187, 187);
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  font-weight: bold;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    justify-content: space-between;
  }

  .navbar-toggler {
    order: -1;
  }
}